:root {
    --azul: #0071b7;
    --blanco: #FFF;
    --naranja: #ff4f1e;
}
html {
    font-size: 62.5%; /** 1REM = 10pX **/
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  

body {
    background-color: var(--azul);
    font-family:  'Lato', sans-serif;
    font-size: 1.6rem;
}

h1, h2 {
    color: var(--blanco);
    text-align: center;
    margin: 5rem 0;
    padding: 1rem;
}
.caja-curso {
    background-color: var(--naranja);
    text-align: center;
    color: var(--blanco);
    padding: 5rem;

}
.caja-curso h1 {
    margin: 0;
}
.caja-curso p {
    font-size: 2.4rem;
}
.caja-curso a {
    font-size: 2.4rem;
    padding: 2rem;
    display: inline-block;
    text-decoration: none;
    color: var(--blanco);
    padding: 0;
}


.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
.box {
    background-color: var(--naranja);
    color: var(--blanco);
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border: 1rem solid #bb2b03;
}

.contenedor > div {
    background-color: var(--blanco);
    padding: 5rem;
}

/* 2.- Flex Direction */
.d-flex-2{
    display: flex;
    /*
    NOTAS 
    row *** hacia la derecha (default)
    column *** hacia abajo
    (row-column)-reverse *** se muestra el order invertido
     */
}

/* 3.- Justify Content (Dirección Row) */

.d-flex-3{
    display: flex;
    justify-content: center;
     /*
    NOTAS 
    Con la propiedad
    justify-content:

    Se puede realizar el acomoda de la informacion de esta forma
    flex-start *** Al inicio
    center *** Posiciona en medio
    flex-end *** Posiciona al final
    space-between *** Posiciona esquineados con espacio en tre ellos
    space-around *** el mismo espacio a todos los lados respetando el de cada elemento
    space-evenly *** el mismo espacio distribuido del contenedor
     */
}

/* 4.- Justify Content (Dirección Column) */

.d-flex-4{
    display: flex;
    flex-direction: column;
    height: 1000px;
    border: 1px solid gray;
    justify-content: center;
    /*     
    con la rotacion se puede con justify-content a comodar la informacion,
    pero en direccion de las columnas 
    Con la propiedad y una altura, puedes acomodar el contendio en el div
    justify-content:

    Se puede realizar el acomoda de la informacion de esta forma
    center
    flex-start
    flex-end
    space-between
    space-around
    space-evenly 
    */
}

.d-flex-5{
    display: flex;
    flex-direction: row;
    height: 700px;
    align-items: center;


    /* 
    Aqui se toma la toda la altura
    pero con aling item se controla ese estirar 
    align-items, y todas sus catacteristicas
    
    stretch *** valor por defulat y toma el valor de la altura completa, se estira
    flex-start *** alina hacia arriba con su tamaño
    cneter *** al centro de la altura
    flex-end *** Posicionar en la parte de abajo
    base-line *** similar al flex-start, solo que se acomoda al contenido

     */
}

.d-flex-6 {
    display: flex;
    flex-direction: column;
    height: 700px;
    align-items: center;
    /* 
    strech *** a lo ancho del contenedor
    flex-start *** a la izquierda respetnado el alcho del item
    flex-end *** pegado a la derecha al ancho del item
    baseline *** rerspecot a la linea base del elemento
     */

}

.d-flex-7{
    display: flex;
    height: 800px;

    align-items: flex-end;
    justify-content: flex-end;
    /* 
    **** Valores por default ****
    flex-direction: row;
    justify-content: flex-start;
    align-items: strech; ----> este hace que se estire
    
    */
}

.d-flex-8{
    display: flex;
}

/* flex basic se una solo en  hijos */
.d-flex-8 .box{
    /* 
    ++++++solo para dar ancho++++++

    with :   es una caracteristica  forzoa
    flex-basis: Caracteristica inicila del ancho de un contenedor 
    */
    flex-basis: 200px;
}

/* gap y cal se unicamente en los hijos */
.d-flex-9{
    display: flex;
    justify-content: space-between;
}

/* .d-flex-9 .box{
    
    flex-basis: calc(33.3% - 1rem);
} */

/* Calulas mas especificados */
.d-flex-9 .box:nth-child(1){
    flex-basis: calc(50% - 1rem);
}

.d-flex-9 .box:nth-child(2),
.d-flex-9 .box:nth-child(3)
{
    flex-basis: calc(25% - 1rem);
}

.d-flex-10{
    /* 
    flex-grap.- permite el brinco de los hijo 
    donde del contenedor pardes, 
    cuando estos no quepan en el contendor 
    */
    display: flex;
    flex-wrap: wrap;

}

.d-flex-10 .box{
    flex-basis: 33.3%;
}

.d-flex-11{
    display: flex;
}

/* Factor de cremiendo o cajas flexibles al ancho */
.d-flex-11 .box{
    flex-grow: 1;

}

.d-flex-11 .box:nth-child(1){
    flex-grow: 2;
}

.d-flex-11 .box:nth-child(2),
.d-flex-11 .box:nth-child(3){
    flex-grow: 1;
}

.d-flex-12{
    display: flex;
}
.d-flex-12 .box{
    flex-grow: 1;
    flex-basis: 300px;
}

.d-flex-12 .box:nth-child(3){
    flex-shrink: 2;
}

.d-flex-13 {
    display: flex;
}

.d-flex-13 .box{
    /* Ancho inicial de los elementos */
    /* flex-basis: 33.33%; */
    /* Factor de crecimento a 1 */
    /* flex-grow: 1; */
    /* Fctor de reduccion controlada a 1 */
    /* flex-shrink: 1; */


    /* Todos los anterioes se resumen en uno solo */
    /* 1.- grow , 2.- Shrink, 3.-basic */
    flex: 1 2 33.33%;
}